h1 {
  margin: 1rem auto;
  color: aqua;
  border: 8px groove pink;
  max-width: fit-content;
  padding: 0.5rem 2rem;
}

table {
  margin:auto;
}

th {
  background-color: green;
  color: white;
  padding: 0 0.8rem;
}

tr {
  height: 2rem;
}

tr:hover {
  background-color: blue !important;
  color: white !important;
}

tr:nth-child(even) {
  background-color: pink;
}

tr:nth-child(odd) {
  background-color: yellow;
}

.chart-position {
  text-align: center;
}

.track-name, .artist-name {
  padding: 0 0.8rem;
  text-align: left;
}